.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7F9FF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px #00000033;
    width: fit-content;
    margin: 0 auto;
  
    .rs-pagination-btn {
      font-size: 1rem;
      padding: 8px 12px;
      margin: 0 5px;
      border-radius: 100%;
      transition: background-color 0.3s ease, color 0.3s ease;
      color: #333;
      border: 1px solid #fafafa;
      background-color: #fff;
      min-width: 40px;
      height: 40px;
      // display: flex;
      justify-content: center;
      align-items: center;
      // flex-direction: column;
  
      &:hover {
        background-color: #cbcbcb;
        color: #000000;
      }
  
      &.rs-pagination-btn-active {
        background-color: #23CF9B;
        color: #FFFFFF;
        border-color: #23CF9B;
      }
        // Styles for previos button
      &[aria-label="Previous"] {
        background-color: transparent;
        border: none;
        color: #666;
        font-size: 1.2rem;
        
        &:hover {
          background-color: #cbcbcb;
          color: #333;
        }
      }
  
      // Styles for next button
      &[aria-label="Next"] {
        background-color: transparent;
        border: none;
        color: #666;
        font-size: 1.2rem;
        
        &:hover {
          background-color: #cbcbcb;
          color: #333;
        }
      }
    }
  
    .rs-pagination-ellipsis {
      font-size: 1.2rem;
      color: #FFFFFF;
      margin: 0 8px;
    }
  }
  