@import '../../assets/scss/base/colors.scss';

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $veylightgray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px $dark100;
    width: fit-content;
    margin: 0 auto;
  
    .rs-pagination-btn {
      font-size: 1rem;
      padding: 8px 12px;
      margin: 0 5px;
      border-radius: 100%;
      transition: background-color 0.3s ease, color 0.3s ease;
      color: $dark70;
      border: 1px solid $White;
      background-color: $White;
      min-width: 40px;
      height: 40px;
      // display: flex;
      justify-content: center;
      align-items: center;
      
      &:hover {
        background-color: $neutral10;
        color: $dark100;
      }
  
      &.rs-pagination-btn-active {
        background-color: $primary;
        color: $White;
        border-color: $primary;
      }
    // Styles for previos button

      &[aria-label="Previous"] {
        background-color: transparent;
        border: none;
        color: $neutral40;
        font-size: 1.2rem;
        
        &:hover {
          background-color: $neutral10;
          color: $dark70;
        }
      }
  
      // Styles for next button

      &[aria-label="Next"] {
        background-color: transparent;
        border: none;
        color: $neutral40;
        font-size: 1.2rem;
        
        &:hover {
          background-color: $neutral10;
          color: $dark70;
        }
      }
    }
  
    .rs-pagination-ellipsis {
      font-size: 1.2rem;
      color: $White;
      margin: 0 8px;
    }
  }
  
