.payment__container {
    display: flex;
    justify-content: start;
    gap: 10px;
    max-width: 1300px;
    margin: 20px auto;
    flex-wrap: wrap;
}

.payment-card {
    background-color: #f7fcfc;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid rgba(99, 102, 241, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  width: 90%;
  max-width: 400px;
}

.flex  {
    display: flex;
}
.justify-bw {
    justify-content: space-between;
}
.payment__date  {
    font-size: 16px ;
    border-radius: 12px;
    padding: 1px 10px;

border: 1px solid #444444;
    color: #444444;
}

.payment__title{
    font-size: 24px;
    font-weight: 500px;
    color:#49BBBD;
    margin-bottom: 8px;
}

.payment__id--container{
    border-radius: 6px;
    /* background-color: rgb(235, 235, 235); */
    padding: 2px 10px;
}
.order-id{
    font-size: 14px;
    color: #444444;
}
.bold{
    font-weight: 700;
}

.color {
    color: #444444;
}

.amount{
    margin-top: 8px;
    font-size: 16px;
    color: #444444;
    font-weight: 500;
}

.payment__status{
    padding: 2px 12px;
    border-radius: 20px;
    border: 1px solid #49BBBD;
    background-color: rgb(230, 254, 254);
    color: #49BBBD;
}