$dark-gray: #484848;
$light-teal: #49BBBD;
$dark-green: #2B2F2E;
$charcoal-black: #101828;
$medium-gray: #646464;
$semi-transparent-black: #1D2939B2;
$light-gray: #ACA5A5;
$dark-brown: #453E3E;
$black: #000000;
$lavender-gray: #696984;
$navy-blue: #252641;
$dim-gray: #313131;
$light-purple: #A8A8B6;
$teal: #2BA7A9;
$slate-gray: #333333;
$lightest-gray: #EAECF0;
$grayish-blue: #98A2B3;
$bright-teal: #54BFC1;
$deep-charcoal: #101828;
$semi-transparent-black-80: #00000080;
$semi-dark-gray:  #555555;
$blue:  #2580D5;
$dark-blue: #0061E0;
$bright-green: #00E040;
$red-pink: #BD4962;