// primary represents theme shades palette
$primary: #49BBBD;
$primary70: #2BA7A9;
$primary30: #54BFC1;
$primary40: #49BABC;

//  neutral shades palette
$neutral5: #FFFFFF;
$neutral10: #EAECF0;
$neutral15: #EAFFF9; // lightest-gray
$neutral20: #ACA5A5; // light-gray
$neutral30: #98A2B3; // grayish-blue
$neutral40: #696984; // lavender-gray
$neutral50: #646464; // medium-gray
$neutral60: #555555; // semi-dark-gray
$neutral70: #484848; // dark-gray
$neutral80: #333333; // slate-gray
$neutral90: #313131; // dim-gray

// for accent colors palette
$accent0 :#2580D5;
$accent1: #0061E0;
$accent2: #00E040;
$accent3: #BD4962;
$accent4: #2580D5;

//  dark shades palette
$dark10: #A8A8B6; // light-purple
$dark20: #453E3E; // dark-brown
$dark30: #2B2F2E; // dark-green
$dark40: #252641; // navy-blue
$dark50: #333333; // slate-gray
$dark60: #313131; // dim-gray
$dark70: #101828; // charcoal-black
$dark80: #101828; // deep-charcoal
$dark90: #000000; // black
$dark100: #00000080; // semi-transparent-black-80
$dark110: #1D2939B2; // semi-transparent-black
$neutral0: #f7f7fa;
$neutral15: #EAFFF9;
$neutral20: #F5F5F5;



// Define Color Palette Map
$colors: (
  primary: $primary,
  primary70: $primary70,
  primary30: $primary30,
  primary40: $primary40,

  neutral5: $neutral5,
  neutral10: $neutral10,
  neutral15: $neutral15,
  neutral20: $neutral20,
  neutral30: $neutral30,
  neutral40: $neutral40,
  neutral50: $neutral50,
  neutral60: $neutral60,
  neutral70: $neutral70,
  neutral80: $neutral80,
  neutral90: $neutral90,
  neutral0: $neutral0,

  accent0: $accent0,
  accent1: $accent1,
  accent2: $accent2,
  accent3: $accent3,
  accent4: $accent4,

  dark10: $dark10,
  dark20: $dark20,
  dark30: $dark30,
  dark40: $dark40,
  dark50: $dark50,
  dark60: $dark60,
  dark70: $dark70,
  dark80: $dark80,
  dark90: $dark90,
  dark100: $dark100,
  dark110: $dark110
);

// Generate Text Color Classes Using Mixin
@mixin generate-text-color-classes($colorMap) {
  @each $name, $value in $colorMap {
    .font-#{$name} {
      color: $value;
    }
  }
}

@include generate-text-color-classes($colors);