$font-family-primary: 'Inter', sans-serif;
$font-family-secondary: 'Poppins', sans-serif;
$font-family-accent: 'Zoho Puvi', sans-serif;
$font-family-support: 'Mukta', sans-serif;
$font-family-alternative: 'Jost', sans-serif;


$font-2xs: 14px;
$font-xs: 16px;
$font-sm: 18px;
$font-md: 20px;
$font-lg: 22px;
$font-24px: 24px;
$font-xl: 26px;
$font-2xl: 30px;
$font-3xl: 48px;
$font-4xl: 64px;
$font-5xl: 80px;



$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;


$line-height-mini: 20.65px;
$line-height-small: 24px;
$line-height-base: 32.4px;
$line-height-xs: 33px;
$line-height-sm: 43.21px;
$line-height-md: 61.44px;
$line-height-xl: 76.8px;
$line-height-lg: 82px;

$letter-spacing-normal: 0;
$letter-spacing-tight: -0.5px;
$letter-spacing-loose: 0.02em;