@import '../../assets/scss/base/colors.scss';

.faq-card {

    // padding: 15px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px $primary30;
}

.faq-card__header {
    margin-bottom: 5px;
}