.card-top {
  height: auto;
}

.user-img {
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 400px;
  height: auto;
  border: 4px solid $neutral10;
  margin: auto;
}

.card-bottom {
  height: 100%;
  padding: 20px 20px;
}

.title {
  color: $primary40;
  font-size: $font-lg;
  font-weight: $font-weight-bold;
}

.description {
  font-size: $font-xs;
  color: $neutral30;
  margin: 0px;
}

.card-right {
  padding: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-right-low p {
  font-size: $font-xs;
  margin: 0px;
}

.card-right-upper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-right-low {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: $font-weight-semibold;
}

.buttons {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}


@media (max-width: 600px) {
  .card-right {
    padding: 6px;
    padding-left: 15px;
    gap: 10px;
  }

  .title {
    font-size: 18px;
  }

  .description {
    font-size: 14px;
  }

  .card-right-low {
    gap: 6px;
  }
}