.card-left{
    width: 35%;
    height: 100%;
}
.user-img{
    width: 100%;
    height: 100%;
}
.card{
    display: flex;
    width: 713px;
    height: 303px;
    border: 4px solid $neutral10;
}
.card-right{
    width: 65%;
    height: 100%;
}
.title{
    color: $primary40;
    font-size: $font-lg;
    font-weight: $font-weight-bold;
}
.description{
    font-size: $font-xs;
    color: $neutral30;
    margin: 0px;
}
.card-right{
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card-right-low p{
    font-size: $font-xs;
    margin: 0px;
}

.card-right-upper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card-right-low{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: $font-weight-semibold;
}

.buttons{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}