@import '../base/typography.scss';


.font-xs {
  font-size: $font-xs;

  &--regular {
    font-weight: $font-weight-regular;
  }

  &--medium {
    font-weight: $font-weight-medium;
  }

  &--semibold {
    font-weight: $font-weight-semibold;
  }

  &--bold {
    font-weight: $font-weight-bold;
  }
}


.font-sm {
  font-size: $font-sm;

  &--regular {
    font-weight: $font-weight-regular;
  }

  &--medium {
    font-weight: $font-weight-medium;
  }

  &--semibold {
    font-weight: $font-weight-semibold;
  }

  &--bold {
    font-weight: $font-weight-bold;
  }
}

.font-md {
  font-size: $font-md;

  &--regular {
    font-weight: $font-weight-regular;
  }

  &--medium {
    font-weight: $font-weight-medium;
  }

  &--semibold {
    font-weight: $font-weight-semibold;
  }

  &--bold {
    font-weight: $font-weight-bold;
  }
}


.font-lg {
  font-size: $font-lg;
  &--regular {
    font-weight: $font-weight-regular;
  }

  &--medium {
    font-weight: $font-weight-medium;
  }

  &--semibold {
    font-weight: $font-weight-semibold;
  }

  &--bold {
    font-weight: $font-weight-bold;
  }
}


.font-xl {
  font-size: $font-xl;

  &--regular {
    font-weight: $font-weight-regular;
  }

  &--medium {
    font-weight: $font-weight-medium;
  }

  &--semibold {
    font-weight: $font-weight-semibold;
  }

  &--bold {
    font-weight: $font-weight-bold;
  }
}


.font-2xl {
  font-size: $font-2xl;

  &--regular {
    font-weight: $font-weight-regular;
  }

  &--medium {
    font-weight: $font-weight-medium;
  }

  &--semibold {
    font-weight: $font-weight-semibold;
  }

  &--bold {
    font-weight: $font-weight-bold;
  }
}


.font-3xl {
  font-size: $font-3xl;

  &--regular {
    font-weight: $font-weight-regular;
  }

  &--medium {
    font-weight: $font-weight-medium;
  }

  &--semibold {
    font-weight: $font-weight-semibold;
  }

  &--bold {
    font-weight: $font-weight-bold;
  }
}


.font-4xl {
  font-size: $font-4xl;

  &--regular {
    font-weight: $font-weight-regular;
  }

  &--medium {
    font-weight: $font-weight-medium;
  }

  &--semibold {
    font-weight: $font-weight-semibold;
  }

  &--bold {
    font-weight: $font-weight-bold;
  }
}
