.chat-container {
  display: flex;
  height: 100vh;
  background-color: #f7f7fa;
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  margin-top: 20px;

  @media (max-width: 1440px) {
    height: 100vh;
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .chat-sidebar {
      width: 100%;
      max-height: 40vh;
    }

    .chat-area {
      height: 60vh;
    }
  }


}